.Monitoring-module {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Monitoring-component-container {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Monitoring-component {
  vertical-align: text-top;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}